<body>
<h1>{{message}}</h1>
<div> {{error}}</div>

<!--
<form name="searchBase">
    <input type="search" placeholder="Base to Find" ng-model="base" />
    <input type="submit" value="search" ng-click="search(base)"/>
</form>
-->


<label> Select Currency</label><br>
<select data-ng-change="search(base)" ng-model="base" ng-init="base = bases[0]" ng-options="act for act in bases">
</select><br>

<h2>
    Base : {{money.base}}
</h2>
<h2>
    Date : {{money.date}}
</h2>

<table>
    <thead>
    <tr>
        <th>Currency</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(key,val) in money.rates">
        <td>{{key}}</td>
        <td>{{val}}</td>
    </tr>
    </tbody>
</table>

</body>